SUPABASE_URL= your-supabase-url
SUPABASE_KEY= your-servicerole-key
LLM_BASE_URL=your-url
LLM_API_KEY=your-key
LLM_MODEL_ID=your-model-here
NEGOTIATION_ROUND_CAP=5
LOCAL_GEMMA_MODEL_ID=google/gemma-2-2b-it (your-model-here)
FIREWORKS_API_KEY=your-key-here
